<form class="hellas {{cssClass}}" autocomplete="off" autocapitalize="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		{{!-- header --}}
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="{{actor.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="char-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "HELLAS.character.name.name"}}" data-dtype="String"></h1>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">{{localize "HELLAS.sheet.tabs.attributes"}}</a>
		<a class="item" data-tab="personal">{{localize "HELLAS.sheet.tabs.personal"}}</a>
		<a class="item" data-tab="description">{{localize "HELLAS.sheet.tabs.description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Main sheet tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<div class="text-center uppercase h-auto w-full p-1.5 mb-1 border-2 border-opacity-70 border-solid border-gray-900 bg-gray-300 bg-opacity-50">
				{{localize "HELLAS.section.attributes.title"}}
			</div>
			<div class="grid grid-cols-5 gap-2 mb-1">
				{{#each data.HELLAS.characterAttributes as |attributeName|}}
					{{#with (lookup @root.data.attributes attributeName)}}
						<div class="h-20.5 p-2 align-middle text-center items-center border-2 border-opacity-70 border-solid border-gray-900 bg-yellow-300 bg-opacity-5">
							<div class="uppercase align-middle">{{localize (concat "HELLAS.attributes." attributeName ".name")}}</div>
							<div class="flex p-3 items-center justify-center">
								<input class="rounded-full w-1/2" type="number" name="data.attributes.{{attributeName}}.value" value="{{value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize (concat "HELLAS.attributes." attributeName ".name")}}">
							</div>
						</div>
					{{/with}}
				{{/each}}
			</div>
			<div class="flex flex-wrap justify-center items-center p-2 border border-opacity-70 border-solid border-gray-900">
				<span class="mr-3 uppercase">{{localize "HELLAS.section.attributes.fatepoints.title"}}</span>

				{{#repeat data.attributes.fatepoints.max}}
					<div class="fate-progress inline cursor-pointer align-middle text-center align-middle items-center w-6 h-6 rounded-full last:mr-0 mr-2 border border-opacity-70 border-solid border-gray-900 {{#if (lte @num data.attributes.fatepoints.value)}}bg-gray-700{{else}}bg-gray-300{{/if}}" data-item-id="{{@num}}">{{#if @last}}<i class="fas fa-skull-crossbones align-middle {{#if (lte @num data.attributes.fatepoints.value)}}text-gray-50{{/if}}" title="{{localize "HELLAS.character.status.dead.title"}}"></i>{{/if}}</div>
				{{/repeat}}
			</div>
		</div>

		{{!-- Personal Tab --}}
		<div class="tab personal" data-group="primary" data-tab="personal">
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>
