<form class="hellas {{cssClass}}" autocomplete="off" autocapitalize="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		{{!-- header --}}
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="{{actor.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="char-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "HELLAS.character.name.name"}}" data-dtype="String"></h1>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">{{localize "HELLAS.sheet.tabs.attributes"}}</a>
		<a class="item" data-tab="personal">{{localize "HELLAS.sheet.tabs.personal"}}</a>
		<a class="item" data-tab="description">{{localize "HELLAS.sheet.tabs.description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Main sheet tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
				<div class="grid grid-cols-5 gap-2">
					<div class="h-auto p-3 align-middle text-center items-center border-1 border-solid border-gray-400">
						<div class="align-middle">
							<svg class="w-1/3" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
								<path id="curve" d="M243.2, 382.4c-74.8, 0-135.5-60.7-135.5-135.5s60.7-135.5,135.5-135.5s135.5, 60.7, 135.5, 135.5 S318, 382.4, 243.2, 382.4z" transform="rotate(12,250,250) />
								<text class="text-2xl uppercase" width="500">
									<textPath xlink:href="#curve" aria-label="Intelligence">
										Intelligence
									</textPath>
								</text>
							</svg>
						</div>
						<div class="flex p-3 items-center justify-center">
							 <input class="rounded-full w-1/3" type="number" name="aaa" value="3">
						</div>
					</div>
					<div class="h-auto p-3 align-middle text-center items-center border-1 border-solid border-gray-400">Hello2</div>
					<div class="h-auto p-3 align-middle text-center items-center border-1 border-solid border-gray-400">Hello3</div>
					<div class="h-auto p-3 align-middle text-center items-center border-1 border-solid border-gray-400">Hello4</div>
					<div class="h-auto p-3 align-middle text-center items-center border-1 border-solid border-gray-400">Hello5</div>
					<div class="h-auto p-3 align-middle text-center items-center border-1 border-solid border-gray-400">Hello6</div>
					<div class="h-auto p-3 align-middle text-center items-center border-1 border-solid border-gray-400">Hello7</div>
				</div>
		</div>

		{{!-- Personal Tab --}}
		<div class="tab personal" data-group="primary" data-tab="personal">
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>
