<form class="{{cssClass}}" autocomplete="off" autocapitalize="off">
	<div class="greek-meander-bkgd h-5 w-full mb-1"></div>

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		{{!-- header --}}
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="{{actor.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="char-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "HELLAS.character.name.name"}}" data-dtype="String"></h1>
		</div>
	</header>

	<div class="greek-meander-bkgd h-5 w-full mb-1"></div>
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">{{localize "HELLAS.sheet.tabs.attributes"}}</a>
		<a class="item" data-tab="personal">{{localize "HELLAS.sheet.tabs.personal"}}</a>
		<a class="item" data-tab="description">{{localize "HELLAS.sheet.tabs.description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Main sheet tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<table class="skills shadow-md">
				<thead>
				<tr>
					<td colspan="6" class="hellas-titling text-center">{{localize "HELLAS.section.attributes.title"}}</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<div class="grid grid-cols-5 gap-2 mb-1">
							{{#each actor.HELLAS.characterAttributes as |attributeName|}}
								{{#with (lookup @root.data.attributes attributeName)}}
									<div class="rounded-2xl h-20 p-2 align-middle text-center items-center border-2 border-opacity-70 border-solid border-gray-900 shadow-md break-all">
										<div class="hellas-titling uppercase align-middle overflow-ellipsis" title="{{localize (concat "HELLAS.attributes." attributeName ".description")}}">{{localize (concat "HELLAS.attributes." attributeName ".name")}}</div>
										<div class="flex p-3 items-center justify-center">
											<a class="mr-2 item-control attr-roll" data-item-id="{{attributeName}}" data-rating="{{value}}" title="{{localize "HELLAS.attribute.roll"}}"><i class="fas fa-dice-d20"></i></a>
											<input class="rounded-full w-1/2" type="number" name="data.attributes.{{attributeName}}.value" value="{{value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize (concat "HELLAS.attributes." attributeName ".name")}}">
										</div>
									</div>
								{{/with}}
							{{/each}}
						</div>

						<div class="flex flex-wrap justify-center items-center mb-1">
							<div class="flex h-20 p-2 align-middle text-center items-center last:mr-0 mr-2 break-all border-2 border-opacity-70 border-solid border-gray-900 shadow-md aluminum-foil-bkgd">
								<div>
									<div class="hellas-titling uppercase font-bold align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.hitpoints.description"}}">{{localize "HELLAS.attributes.hitpoints.current.name"}}</div>
									<div class="flex p-2 items-center justify-center">
										<input class="rounded-full font-bold border-2 border-gray-900 w-1/2" type="number" name="data.attributes.hitpoints.value" value="{{data.attributes.hitpoints.value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.hitpoints.current.name"}}">
									</div>
								</div>
								<div>
									<div class="hellas-titling uppercase font-bold align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.hitpoints.description"}}">{{localize "HELLAS.attributes.hitpoints.max.name"}}</div>
									<div class="flex p-2 items-center justify-center">
										<input class="rounded-full font-bold border-2 border-gray-900 w-1/2" type="number" name="data.attributes.hitpoints.max" value="{{data.attributes.hitpoints.max}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.hitpoints.max.name"}}">
									</div>
								</div>
							</div>

							<div class="h-20 p-2 align-middle text-center items-center last:mr-0 mr-2 border-2 border-opacity-70 border-solid border-gray-900 shadow-md break-all gold-foil-bkgd">
								<div class="hellas-titling uppercase align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.glory.description"}}">{{localize "HELLAS.attributes.glory.name"}}</div>
								<div class="flex p-3 items-center justify-center">
									<input class="rounded-full w-1/2" type="number" name="data.attributes.glory.value" value="{{data.attributes.glory.value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.glory.name"}}">
								</div>
							</div>

							<div class="h-20 p-2 align-middle text-center items-center last:mr-0 mr-2 border-2 border-opacity-70 border-solid border-gray-900 shadow-md break-all aluminum-foil-bkgd">
								<div class="hellas-titling uppercase align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.heropoints.description"}}">{{localize "HELLAS.attributes.heropoints.name"}}</div>
								<div class="flex p-3 items-center justify-center">
									<input class="rounded-full w-1/2" type="number" name="data.attributes.heropoints.value" value="{{data.attributes.heropoints.value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.heropoints.name"}}">
								</div>
							</div>
						</div>

						<div class="flex flex-wrap justify-center items-center p-1.5 mb-1">
							<span class="hellas-titling fate-progress mr-3 uppercase" data-item-id="0" title="{{localize "HELLAS.attributes.fatepoints.description" current=data.attributes.fatepoints.value max=data.attributes.fatepoints.max}}">{{localize "HELLAS.attributes.fatepoints.name"}}</span>
							<div class="fatepoints-line-bkgd inline-flex w-auto pl-2 pr-2 bg-left">
								{{#repeat data.attributes.fatepoints.max}}
									<span class="fate-progress cursor-pointer align-middle text-center items-center w-6 h-6 rounded-full last:mr-0 mr-2 p-0.5 border border-opacity-70 border-solid bg-clip-padding shadow-md {{#if (lte @num data.attributes.fatepoints.value)}}border-gray-100 bg-gray-700{{else}}border-gray-900 marble-bkgd{{/if}}" data-item-id="{{@num}}">{{#if @last}}<i class="fas fa-skull-crossbones align-middle {{#if (lte @num data.attributes.fatepoints.value)}}text-gray-50{{/if}}" title="{{localize "HELLAS.character.status.dead.title"}}"></i>{{/if}}</span>
								{{/repeat}}
							</div>
						</div>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="greek-meander-bkgd h-5 w-full mb-1"></div>

			<div class="grid grid-cols-2 gap-2">
				<div>
					{{!-- Skill list --}}
					<table class="skills shadow-md">
						<thead>
						<tr>
							<td colspan="6" class="hellas-titling text-center">{{localize "HELLAS.section.skills.title"}}</td>
						</tr>
						<tr>
							<td class="hellas-titling text-center">Name</td>
							<td class="w-4"></td>
							<td class="hellas-titling text-center">Level</td>
							<td class="hellas-titling text-center">Attr</td>
							<td class="hellas-titling text-center">Rating</td>
							<td class="hellas-titling text-center items-center w-4">
								<div class="item-controls w-auto">
									<a class="item-control item-create" title="{{localize "HELLAS.skills.controls.add"}}" data-type="skill"><i class="fas fa-plus"></i></a>
								</div>
							</td>
						</tr>
						</thead>
						<tbody>
						{{#each data.items.skills as |skill key|}}
							<tr class="item" data-item-id="{{skill._id}}">
								<td>{{skill.name}}</td>
								<td class="text-center w-4">
									<a class="item-control skill-roll" data-item-id="{{skill._id}}" data-rating="{{skill.data.level.max}}" data-name="{{skill.name}}" title="{{localize "HELLAS.item.skill.roll"}}"><i class="fas fa-dice-d20"></i></a>
								</td>
								<td class="text-center">{{skill.data.level.value}}</td>
								<td class="text-center">{{skill.data.attribute}}</td>
								<td class="text-center">{{skill.data.level.max}}</td>
								<td class="text-center align-middle w-4">
									<div class="item-controls w-auto">
										<a class="item-control item-edit" title="{{localize "HELLAS.skills.controls.edit"}}"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="{{localize "HELLAS.skills.controls.delete"}}"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
				<div>
					Weapons<br>
					Armor<br>
					Dynamisms<br>
					Disadvantages
				</div>
			</div>
		</div>

		{{!-- Personal Tab --}}
		<div class="tab personal" data-group="primary" data-tab="personal">
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>
