<form class="{{cssClass}}" autocomplete="off" autocapitalize="off">
	<div class="greek-meander-bkgd h-5 w-full mb-1"></div>

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		{{!-- header --}}
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="{{actor.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="char-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "HELLAS.character.name.name"}}" data-dtype="String"></h1>
		</div>
	</header>

	<div class="greek-meander-bkgd h-5 w-full mb-1"></div>
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">{{localize "HELLAS.sheet.tabs.attributes"}}</a>
		<a class="item" data-tab="personal">{{localize "HELLAS.sheet.tabs.personal"}}</a>
		<a class="item" data-tab="description">{{localize "HELLAS.sheet.tabs.description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Main sheet tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<table class="skills shadow-md">
				<thead>
				<tr>
					<td colspan="6" class="hellas-titling text-center">{{localize "HELLAS.section.attributes.title"}}</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<div class="grid grid-cols-5 gap-2 mb-1">
							{{#each actor.HELLAS.characterAttributes as |attributeName|}}
								{{#with (lookup @root.data.attributes attributeName)}}
									<div class="rounded-2xl h-20 p-2 align-middle text-center items-center border-2 border-opacity-70 border-solid border-gray-900 shadow-md break-all">
										<div class="hellas-titling uppercase align-middle overflow-ellipsis" title="{{localize (concat "HELLAS.attributes." attributeName ".description")}}">{{localize (concat "HELLAS.attributes." attributeName ".name")}}</div>
										<div class="flex p-3 items-center justify-center">
											<a class="mr-2 item-control attr-roll" data-item-id="{{attributeName}}" data-rating="{{value}}" title="{{localize "HELLAS.attribute.roll"}}"><i class="fas fa-dice-d20"></i></a>
											<input class="rounded-full w-1/2" type="number" name="data.attributes.{{attributeName}}.value" value="{{value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize (concat "HELLAS.attributes." attributeName ".name")}}">
										</div>
									</div>
								{{/with}}
							{{/each}}
						</div>

						<div class="flex flex-wrap justify-center items-center mb-1">
							<div class="flex h-20 p-2 align-middle text-center items-center last:mr-0 mr-2 break-all border-2 border-opacity-70 border-solid border-gray-900 shadow-md aluminum-foil-bkgd">
								<div>
									<div class="hellas-titling uppercase font-bold align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.hitpoints.description"}}">{{localize "HELLAS.attributes.hitpoints.current.name"}}</div>
									<div class="flex p-2 items-center justify-center">
										<input class="rounded-full font-bold border-2 border-gray-900 w-1/2" type="number" name="data.attributes.hitpoints.value" value="{{data.attributes.hitpoints.value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.hitpoints.current.name"}}">
									</div>
								</div>
								<div>
									<div class="hellas-titling uppercase font-bold align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.hitpoints.description"}}">{{localize "HELLAS.attributes.hitpoints.max.name"}}</div>
									<div class="flex p-2 items-center justify-center">
										<input class="rounded-full font-bold border-2 border-gray-900 w-1/2" type="number" name="data.attributes.hitpoints.max" value="{{data.attributes.hitpoints.max}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.hitpoints.max.name"}}">
									</div>
								</div>
							</div>

							<div class="h-20 p-2 align-middle text-center items-center last:mr-0 mr-2 border-2 border-opacity-70 border-solid border-gray-900 shadow-md break-all gold-foil-bkgd">
								<div class="hellas-titling uppercase align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.glory.description"}}">{{localize "HELLAS.attributes.glory.name"}}</div>
								<div class="flex p-3 items-center justify-center">
									<input class="rounded-full w-1/2" type="number" name="data.attributes.glory.value" value="{{data.attributes.glory.value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.glory.name"}}">
								</div>
							</div>

							<div class="h-20 p-2 align-middle text-center items-center last:mr-0 mr-2 border-2 border-opacity-70 border-solid border-gray-900 shadow-md break-all aluminum-foil-bkgd">
								<div class="hellas-titling uppercase align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.heropoints.description"}}">{{localize "HELLAS.attributes.heropoints.name"}}</div>
								<div class="flex p-3 items-center justify-center">
									<input class="rounded-full w-1/2" type="number" name="data.attributes.heropoints.value" value="{{data.attributes.heropoints.value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.heropoints.name"}}">
								</div>
							</div>
						</div>

						<div class="flex flex-wrap justify-center items-center p-1.5 mb-1">
							<span class="hellas-titling fate-progress mr-3 uppercase" data-item-id="0" title="{{localize "HELLAS.attributes.fatepoints.description" current=data.attributes.fatepoints.value max=data.attributes.fatepoints.max}}">{{localize "HELLAS.attributes.fatepoints.name"}}</span>
							<div class="fatepoints-line-bkgd inline-flex w-auto pl-2 pr-2 bg-left">
								{{#repeat data.attributes.fatepoints.max}}
									<span class="fate-progress cursor-pointer align-middle text-center items-center w-6 h-6 rounded-full last:mr-0 mr-2 p-0.5 border border-opacity-70 border-solid bg-clip-padding shadow-md {{#if (lte @num data.attributes.fatepoints.value)}}border-gray-100 bg-gray-700{{else}}border-gray-900 marble-bkgd{{/if}}" data-item-id="{{@num}}">{{#if @last}}<i class="fas fa-skull-crossbones align-middle {{#if (lte @num data.attributes.fatepoints.value)}}text-gray-50{{/if}}" title="{{localize "HELLAS.character.status.dead.title"}}"></i>{{/if}}</span>
								{{/repeat}}
							</div>
						</div>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="greek-meander-bkgd h-5 w-full mb-1"></div>

			<div class="grid grid-cols-2 gap-2">
				<div>
					{{!-- Skill list --}}
					<table class="skills shadow-md border-gray-500 border-solid border-opacity-100 border-l border-r">
						<thead>
						<tr>
							<td colspan="7" class="hellas-titling text-center">{{localize "HELLAS.section.skills.title"}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.skill.column.name"}}</td>
							<td class="w-4"></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.skill.column.level"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.skill.column.attr"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.skill.column.rating"}}</td>
							<td class="hellas-titling text-center items-center w-4">
								<div class="item-controls w-auto">
									<a class="item-control item-create" title="{{localize "HELLAS.skills.controls.add"}}" data-type="skill"><i class="fas fa-plus"></i></a>
								</div>
							</td>
						</tr>
						</thead>
						<tbody>
						{{#each data.items.skills as |skill key|}}
							<tr class="item" data-item-id="{{skill._id}}">
								<td class="pl-1">{{#ifEmptyOrWhitespace skill.data.notes}}
									<i class="fas fa-info-circle disabled"></i>
								{{else}}
									<span class="tooltip" data-tooltip-content="#tooltip_content_{{skill._id}}"><i class="fas fa-info-circle"></i></span>
								{{/ifEmptyOrWhitespace}}</td>
								<td>{{skill.name}}</td>
								<td class="text-center w-4">
									<a class="item-control skill-roll" data-item-id="{{skill._id}}" data-rating="{{skill.data.level.max}}" data-name="{{skill.name}}" title="{{localize "HELLAS.item.skill.roll"}}"><i class="fas fa-dice-d20"></i></a>
								</td>
								<td class="text-center">{{skill.data.level.value}}</td>
								<td class="text-center">{{skill.data.attribute}}</td>
								<td class="text-center">{{skill.data.level.max}}</td>
								<td class="text-center align-middle w-4 pr-1">
									<div class="item-controls w-auto">
										<a class="item-control item-edit" title="{{localize "HELLAS.skills.controls.edit"}}"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="{{localize "HELLAS.skills.controls.delete"}}"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						{{/each}}
						</tbody>
					</table>

					<table class="skills shadow-md border-gray-500 border-solid border-opacity-100 border-l border-r border-b">
						<thead>
						<tr>
							<td colspan="7" class="hellas-titling text-center">{{localize "HELLAS.section.dynamism.title"}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.dynamism.column.name"}}</td>
							<td class="w-4"></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.dynamism.column.dod"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.dynamism.column.range"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.dynamism.column.duration"}}</td>
							<td class="hellas-titling text-center items-center w-4">
								<div class="item-controls w-auto">
									<a class="item-control item-create" title="{{localize "HELLAS.dynamism.controls.add"}}" data-type="dynamism"><i class="fas fa-plus"></i></a>
								</div>
							</td>
						</tr>
						</thead>
						<tbody>
						{{#each data.items.dynamism as |dynamism key|}}
							<tr class="item" data-item-id="{{dynamism._id}}">
								<td class="pl-1">
									<span class="tooltip" data-tooltip-content="#tooltip_content_{{dynamism._id}}"><i class="fas fa-info-circle"></i></span>
								</td>
								<td>{{dynamism.name}}</td>
								<td class="text-center w-4">
									<a class="item-control dynamism-roll" data-item-id="{{dynamism._id}}" title="{{localize "HELLAS.item.dynamism.roll"}}"><i class="fas fa-dice-d20"></i></a>
								</td>
								<td class="text-center">{{dynamism.data.dod}}</td>
								<td class="text-center">{{dynamism.data.range}}</td>
								<td class="text-center">{{dynamism.data.duration}}</td>
								<td class="text-center align-middle w-4 pr-1">
									<div class="item-controls w-auto">
										<a class="item-control item-edit" title="{{localize "HELLAS.dynamism.controls.edit"}}"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="{{localize "HELLAS.dynamism.controls.delete"}}"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
				<div>
					<table class="skills shadow-md border-gray-500 border-solid border-opacity-100 border-l border-r">
						<thead>
						<tr>
							<td colspan="9" class="hellas-titling text-center">{{localize "HELLAS.section.weapons.title"}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.name"}}</td>
							<td class="w-4"></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.acc"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.dr"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.rof"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.ammo"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.rng"}}</td>
							<td class="hellas-titling text-center items-center w-4">
								<div class="item-controls w-auto">
									<a class="item-control item-create" title="{{localize "HELLAS.weapons.controls.add"}}" data-type="weapon"><i class="fas fa-plus"></i></a>
								</div>
							</td>
						</tr>
						</thead>
						<tbody>
						{{#each data.items.weapons as |weapon key|}}
							<tr class="item" data-item-id="{{weapon._id}}">
								<td class="pl-1">
									<span class="tooltip" data-tooltip-content="#tooltip_content_{{weapon._id}}"><i class="fas fa-info-circle"></i></span>
								</td>
								<td>{{weapon.name}}</td>
								<td class="text-center w-4">
									<a class="item-control weapon-roll" data-item-id="{{weapon._id}}" title="{{localize "HELLAS.item.weapon.roll"}}"><i class="fas fa-dice-d20"></i></a>
								</td>
								<td class="text-center">{{weapon.data.acc}}</td>
								<td class="text-center">{{weapon.data.dr}}{{localize (concat "HELLAS.weapon.modifier.short." weapon.data.modifier)}}</td>
								<td class="text-center">{{weapon.data.rof}}</td>
								<td class="text-center">{{weapon.data.ammo}}</td>
								<td class="text-center">{{weapon.data.rng}}</td>
								<td class="text-center align-middle w-4 pr-1">
									<div class="item-controls w-auto">
										<a class="item-control item-edit" title="{{localize "HELLAS.weapons.controls.edit"}}"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="{{localize "HELLAS.weapons.controls.delete"}}"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						{{/each}}
						</tbody>
					</table>

					<table class="skills shadow-md border-gray-500 border-solid border-opacity-100 border-l border-r border-b">
						<thead>
						<tr>
							<td colspan="6" class="hellas-titling text-center">{{localize "HELLAS.section.armor.title"}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.armor.column.name"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.armor.column.active"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.armor.column.pr"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.armor.column.parry"}}</td>
							<td class="hellas-titling text-center items-center w-4">
								<div class="item-controls w-auto">
									<a class="item-control item-create" title="{{localize "HELLAS.armor.controls.add"}}" data-type="armor"><i class="fas fa-plus"></i></a>
								</div>
							</td>
						</tr>
						</thead>
						<tbody>
						{{#each data.items.armor as |armor key|}}
							<tr class="item" data-item-id="{{armor._id}}">
								<td class="pl-1">
									<span class="tooltip" data-tooltip-content="#tooltip_content_{{armor._id}}"><i class="fas fa-info-circle"></i></span>
								</td>
								<td>{{armor.name}}</td>
								<td class="text-center">
									<a class="item-control armor-active-checkbox" data-item-id="{{armor._id}}" title="{{#if armor.data.active}}{{localize "HELLAS.armor.active.title"}}{{else}}{{localize "HELLAS.armor.inactive.title"}}{{/if}}">{{#if armor.data.active}}<i class="fas fa-check-square">{{else}}<i class="far fa-square">{{/if}}</i></a>
								</td>
								<td class="text-center">{{armor.data.pr}}{{localize (concat "HELLAS.armor.modifier.short." armor.data.modifier)}}</td>
								<td class="text-center">{{armor.data.parry}}</td>
								<td class="text-center align-middle w-4 pr-1">
									<div class="item-controls w-auto">
										<a class="item-control item-edit" title="{{localize "HELLAS.armor.controls.edit"}}"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="{{localize "HELLAS.armor.controls.delete"}}"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						{{/each}}
						</tbody>
						<tfoot>
						<tr>
							<td colspan="6" class="bg-gray-500">
								<div class="grid grid-cols-3 gap-1.5 text-white">
									<div class="text-center">
										{{localize "HELLAS.armor.total.pr" total=data.modifiers.armor.pr}}
									</div>
									<div class="text-center">
										{{localize "HELLAS.armor.total.dex" total=data.modifiers.armor.dexterity}}
									</div>
									<div class="text-center">
										{{localize "HELLAS.armor.total.per" total=data.modifiers.armor.perception}}
									</div>
								</div>
							</td>
						</tr>
						</tfoot>
					</table>
					Talents<br>
					Dynamisms<br>
					Disadvantages
				</div>
			</div>


			{{!-- Hidden tooltip HTML content --}}
			<div class="hidden">
				{{#each data.items.skills as |skill key|}}
					<div id="tooltip_content_{{skill._id}}">
						<img src="{{skill.img}}" title="{{skill.name}}" alt="{{skill.name}}" height="50"/>
						<h1 style="display: inline; margin-left: 4px;">{{skill.name}}</h1>
						<table style="max-width: 640px;">
							<tbody>
							<tr>
								<td>{{localize "HELLAS.skill.column.level"}}</td>
								<td>{{skill.data.level.value}}</td>
							</tr>
							<tr>
								<td>{{localize "HELLAS.skill.column.attr"}}</td>
								<td>{{skill.data.attribute}}</td>
							</tr>
							<tr>
								<td>{{localize "HELLAS.skill.column.rating"}}</td>
								<td>{{skill.data.level.max}}</td>
							</tr>
							</tbody>
						</table>
						<div style="max-width: 640px;">
							{{!-- raw html output --}}
							{{{skill.data.notes}}}
						</div>
					</div>
				{{/each}}
				{{#each data.items.weapons as |weapon key|}}
					<div id="tooltip_content_{{weapon._id}}">
						<img src="{{weapon.img}}" title="{{weapon.name}}" alt="{{weapon.name}}" height="50"/>
						<h1 style="display: inline; margin-left: 4px;">{{weapon.name}}</h1>
						<table style="max-width: 640px;">
							<tbody>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.skillid.label"}}</td>
								<td>{{#if (eq weapon.data.skillid "combatrating")}}
									{{localize "HELLAS.weapon.skillid.default.name"}}
								{{else}}
									{{setVar "weaponSkill" (findEntryByKeyValue @root.data.items.skills "_id" weapon.data.skillid)}}
									{{#if @root.weaponSkill}}
										{{@root.weaponSkill.name}}
									{{else}}
										{{localize "HELLAS.weapon.skillid.unknown.name"}}
									{{/if}}
								{{/if}}
								</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.acc.label"}}</td>
								<td>{{weapon.data.acc}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.dr.label"}}</td>
								<td>{{weapon.data.dr}}</td>
							</tr>

							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.modifier.label"}}</td>
								<td>{{localize (concat "HELLAS.weapon.modifier.long." weapon.data.modifier)}}</td>
							</tr>
							{{#unless (eq weapon.data.modifier "regular")}}
								<tr>
									<td colspan="2">{{{localize (concat "HELLAS.weapon.modifier.desc." weapon.data.modifier)}}}</td>
								</tr>
							{{/unless}}
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.wt.label"}}</td>
								<td>{{weapon.data.wt}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.str.label"}}</td>
								<td>{{weapon.data.str}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.rof.label"}}</td>
								<td>{{weapon.data.rof}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.ammo.label"}}</td>
								<td>{{weapon.data.ammo}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.rng.label"}}</td>
								<td>{{weapon.data.rng}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.ismissile.label"}}</td>
								<td>{{#if weapon.data.ismissile}}<i class="fas fa-check-square"></i>{{/if}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.price.label"}}</td>
								<td>{{weapon.data.price}}</td>
							</tr>
							</tbody>
						</table>
						<div style="max-width: 640px;">
							{{!-- raw html output --}}
							{{{weapon.data.notes}}}
						</div>
					</div>
				{{/each}}
				{{#each data.items.armor as |armor key|}}
					<div id="tooltip_content_{{armor._id}}">
						<img src="{{armor.img}}" title="{{armor.name}}" alt="{{armor.name}}" height="50"/>
						<h1 style="display: inline; margin-left: 4px;">{{armor.name}}</h1>
						<table style="max-width: 640px;">
							<tbody>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.type.label"}}</td>
								<td>{{localize (concat "HELLAS.armor.type.opt.long." armor.data.type)}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.modifier.label"}}</td>
								<td>{{localize (concat "HELLAS.armor.modifier.long." armor.data.modifier)}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.pr.label"}}</td>
								<td>{{armor.data.pr}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.str.label"}}</td>
								<td>{{armor.data.str}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.parry.label"}}</td>
								<td>{{armor.data.parry}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.md.label"}}</td>
								<td>{{armor.data.md}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.per.label"}}</td>
								<td>{{armor.data.per}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.cha.label"}}</td>
								<td>{{armor.data.cha}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.wt.label"}}</td>
								<td>{{armor.data.wt}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.price.label"}}</td>
								<td>{{armor.data.price}}</td>
							</tr>
							</tbody>
						</table>
						<div style="max-width: 640px;">
							{{!-- raw html output --}}
							{{{armor.data.notes}}}
						</div>
					</div>
				{{/each}}
				{{#each data.items.dynamism as |dynamism key|}}
					<div id="tooltip_content_{{dynamism._id}}">
						<img src="{{dynamism.img}}" title="{{dynamism.name}}" alt="{{dynamism.name}}" height="50"/>
						<h1 style="display: inline; margin-left: 4px;">{{dynamism.name}}</h1>
						<table style="max-width: 640px;">
							<tbody>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.skillid.label"}}</td>
								<td>{{#if (eq dynamism.data.skillid "dynamism")}}
									{{localize "HELLAS.dynamism.skillid.default.name"}}
								{{else}}
									{{setVar "dynamismSkill" (findEntryByKeyValue @root.data.items.skills "_id" dynamism.data.skillid)}}
									{{#if @root.dynamismSkill}}
										{{@root.dynamismSkill.name}}
									{{else}}
										{{localize "HELLAS.dynamism.skillid.unknown.name"}}
									{{/if}}
								{{/if}}
								</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.dod.label"}}</td>
								<td>{{dynamism.data.dod}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.dodinfo.label"}}</td>
								<td>{{breaklines dynamism.data.dodinfo}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.range.label"}}</td>
								<td>{{dynamism.data.range}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.tradition.label"}}</td>
								<td>{{dynamism.data.tradition}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.duration.label"}}</td>
								<td>{{dynamism.data.duration}}</td>
							</tr>
							</tbody>
						</table>
						<div style="max-width: 640px;">
							{{!-- raw html output --}}
							{{{dynamism.data.notes}}}
						</div>
					</div>
				{{/each}}
		</div>
		</div>

		{{!-- Personal Tab --}}
		<div class="tab personal" data-group="primary" data-tab="personal">
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>
