<form class="hellas {{cssClass}}" autocomplete="off" autocapitalize="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		{{!-- header --}}
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="{{actor.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="char-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "HELLAS.character.name.name"}}" data-dtype="String"></h1>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">{{localize "HELLAS.sheet.tabs.attributes"}}</a>
		<a class="item" data-tab="personal">{{localize "HELLAS.sheet.tabs.personal"}}</a>
		<a class="item" data-tab="description">{{localize "HELLAS.sheet.tabs.description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Main sheet tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<div class="grid grid-cols-5 gap-2">
				{{#each data.HELLAS.characterAttributes as |attributeName|}}
					{{#with (lookup @root.data.attributes attributeName)}}
						<div class="h-10 p-3 align-middle text-center items-center border-1 border-solid border-gray-900">
							<div class="uppercase align-middle">{{localize (concat "HELLAS.attributes." attributeName ".name")}}</div>
							<div class="flex p-3 items-center justify-center">
								<input class="rounded-full w-1/2" type="number" name="data.attributes.{{attributeName}}.value" value="{{value}}" data-dtype="Number" title="{{localize (concat "HELLAS.attributes." attributeName ".name")}}">
							</div>
						</div>
					{{/with}}
				{{/each}}
				{{#each data.attributes as |attribute key|}}
					{{#ifIn key @root.data.HELLAS.characterAttributes}}
						<div class="h-10 p-3 align-middle text-center items-center border-1 border-solid border-gray-900">
							<div class="uppercase align-middle">{{localize (concat "HELLAS.attributes." key ".name")}}</div>
							<div class="flex p-3 items-center justify-center">
								<input class="rounded-full w-1/2" type="number" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" title="{{localize (concat "HELLAS.attributes." key ".name")}}">
							</div>
						</div>
					{{/ifIn}}
				{{/each}}
			</div>
		</div>

		{{!-- Personal Tab --}}
		<div class="tab personal" data-group="primary" data-tab="personal">
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>
