<form class="{{cssClass}}" autocomplete="off" autocapitalize="off">
	<div class="greek-meander-bkgd h-5 w-full mb-1"></div>

	{{!-- Sheet Header --}}
	<header class="mb-1">
		{{!-- header --}}
		<div class="flex flex-row mr-1 ml-1">
			<div>
				<img class="box-100 mr-3" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="{{actor.name}}" height="100" width="100"/>
			</div>
			<div class="flex-grow">
				<h1><input name="name" class="text-2xl" type="text" value="{{actor.name}}" placeholder="{{localize "HELLAS.character.name.name"}}" data-dtype="String"></h1>
				<div class="flex flex-wrap">
					<div class="mr-2 mb-2">
						<div class="flex flex-col">
							<label for="data.epithet"
								   class="mb-1"
								   title="{{localize "HELLAS.character.epithet.name"}}">{{localize "HELLAS.character.epithet.name"}}</label>
							<input type="text" class="width40" id="data.epithet" name="data.epithet" value="{{data.epithet}}" data-dtype="String">
						</div>
					</div>
					<div class="mr-2 mb-2">
						<div class="flex flex-col">
							<label for="data.race"
								   class="mb-1"
								   title="{{localize "HELLAS.character.race.name"}}">{{localize "HELLAS.character.race.name"}}</label>
							<input type="text" class="width40" id="data.race" name="data.race" value="{{data.race}}" data-dtype="String">
						</div>
					</div>
					<div class="mr-2 mb-2">
						<div class="flex flex-col">
							<label for="data.profession"
								   class="mb-1"
								   title="{{localize "HELLAS.character.profession.name"}}">{{localize "HELLAS.character.profession.name"}}</label>
							<input type="text" class="width40" id="data.profession" name="data.profession" value="{{data.profession}}" data-dtype="String">
						</div>
					</div>
					<div class="mr-2 mb-2">
						<div class="flex flex-col">
							<label for="data.deity"
								   class="mb-1"
								   title="{{localize "HELLAS.character.deity.name"}}">{{localize "HELLAS.character.deity.name"}}</label>
							<input type="text" class="width40" id="data.deity" name="data.deity" value="{{data.deity}}" data-dtype="String">
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="greek-meander-bkgd h-5 w-full mb-1"></div>
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">{{localize "HELLAS.sheet.tabs.attributes"}}</a>
		<a class="item" data-tab="disadvantages">{{localize "HELLAS.sheet.tabs.disadvantages"}}</a>
		<a class="item" data-tab="personal">{{localize "HELLAS.sheet.tabs.personal"}}</a>
		<a class="item" data-tab="description">{{localize "HELLAS.sheet.tabs.description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Main sheet tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<table class="skills shadow-md">
				<thead>
				<tr>
					<td colspan="6" class="hellas-titling text-center">{{localize "HELLAS.section.attributes.title"}}</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<div class="grid grid-cols-5 gap-2 mb-1">
							{{#each actor.HELLAS.characterAttributes as |attributeName|}}
								{{#with (lookup @root.data.attributes attributeName)}}
									<div class="rounded-2xl h-20 p-2 align-middle text-center items-center border-2 border-opacity-70 border-solid border-gray-900 shadow-md break-all">
										<div class="hellas-titling uppercase align-middle overflow-ellipsis" title="{{localize (concat "HELLAS.attributes." attributeName ".description")}}">{{localize (concat "HELLAS.attributes." attributeName ".name")}}</div>
										<div class="flex p-3 items-center justify-center">
											<a class="mr-2 item-control attr-roll" data-item-id="{{attributeName}}" data-rating="{{value}}" title="{{localize "HELLAS.attribute.roll"}}"><i class="fas fa-dice-d20"></i></a>
											<input class="rounded-full w-1/2" type="number" name="data.attributes.{{attributeName}}.value" value="{{value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize (concat "HELLAS.attributes." attributeName ".name")}}">
										</div>
									</div>
								{{/with}}
							{{/each}}
						</div>

						<div class="flex flex-wrap justify-center items-center mb-1">
							<div class="flex h-20 p-2 align-middle text-center items-center last:mr-0 mr-2 mt-1 break-all border-2 border-opacity-70 border-solid border-gray-900 shadow-md aluminum-foil-bkgd">
								<div>
									<div class="hellas-titling uppercase font-bold align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.hitpoints.description"}}">{{localize "HELLAS.attributes.hitpoints.current.name"}}</div>
									<div class="flex p-2 items-center justify-center">
										<input class="rounded-full font-bold border-2 border-gray-900 width20" type="number" name="data.attributes.hitpoints.value" value="{{data.attributes.hitpoints.value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.hitpoints.current.name"}}">
									</div>
								</div>
								<div>
									<div class="hellas-titling uppercase font-bold align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.hitpoints.description"}}">{{localize "HELLAS.attributes.hitpoints.max.name"}}</div>
									<div class="flex p-2 items-center justify-center">
										<input class="rounded-full font-bold border-2 border-gray-900 width20" type="number" name="data.attributes.hitpoints.max" value="{{data.attributes.hitpoints.max}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.hitpoints.max.name"}}">
									</div>
								</div>
							</div>

							<div class="h-20 p-2 align-middle text-center items-center last:mr-0 mr-2 mt-1 border-2 border-opacity-70 border-solid border-gray-900 shadow-md break-all gold-foil-bkgd">
								<div class="hellas-titling uppercase align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.glory.description"}}">{{localize "HELLAS.attributes.glory.name"}}</div>
								<div class="flex p-3 items-center justify-center">
									<input class="rounded-full width20" type="number" name="data.attributes.glory.value" value="{{data.attributes.glory.value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.glory.name"}}">
								</div>
							</div>

							<div class="h-20 p-2 align-middle text-center items-center last:mr-0 mr-2 mt-1 border-2 border-opacity-70 border-solid border-gray-900 shadow-md break-all aluminum-foil-bkgd">
								<div class="hellas-titling uppercase align-middle overflow-ellipsis" title="{{localize "HELLAS.attributes.heropoints.description"}}">{{localize "HELLAS.attributes.heropoints.name"}} <span class="tooltip" data-tooltip-content="#tooltip_content_heropoints"><i class="fas fa-info-circle"></i></span></div>
								<div class="flex p-3 items-center justify-center">
									<input class="rounded-full width20" type="number" name="data.attributes.heropoints.value" value="{{data.attributes.heropoints.value}}" min="-10" step="1" oninput="this.value = Math.round(this.value|0);" data-dtype="Number" title="{{localize "HELLAS.attributes.heropoints.name"}}">
								</div>
							</div>

							<div class="h-20 p-2 align-middle text-center items-center last:mr-0 mr-2 mt-1 border-2 border-opacity-70 border-solid border-gray-900 shadow-md break-all aluminum-foil-bkgd">
								<div class="hellas-titling uppercase align-middle overflow-ellipsis" title="{{localize "HELLAS.character.xp.name"}}">{{localize "HELLAS.character.xp.name"}} <span class="tooltip" data-tooltip-content="#tooltip_content_xp"><i class="fas fa-info-circle"></i></span></div>
								<div class="flex p-3 items-center justify-center">
									<input class="rounded-full width20" type="text" name="data.xp" value="{{data.xp}}" data-dtype="String" title="{{localize "HELLAS.character.xp.name"}}">
								</div>
							</div>
						</div>

						<div class="flex flex-wrap justify-center items-center p-1.5 mb-1">
							<span class="hellas-titling fate-progress mr-3 uppercase" data-item-id="0" title="{{localize "HELLAS.attributes.fatepoints.description" current=data.attributes.fatepoints.value max=data.attributes.fatepoints.max}}">{{localize "HELLAS.attributes.fatepoints.name"}}</span>
							<div class="fatepoints-line-bkgd inline-flex w-auto pl-2 pr-2 bg-left">
								{{#repeat data.attributes.fatepoints.max}}
									<span class="fate-progress cursor-pointer align-middle text-center items-center w-6 h-6 rounded-full last:mr-0 mr-2 p-0.5 border border-opacity-70 border-solid bg-clip-padding shadow-md {{#if (lte @num data.attributes.fatepoints.value)}}border-gray-100 bg-gray-700{{else}}border-gray-900 marble-bkgd{{/if}}" data-item-id="{{@num}}">{{#if @last}}<i class="fas fa-skull-crossbones align-middle {{#if (lte @num data.attributes.fatepoints.value)}}text-gray-50{{/if}}" title="{{localize "HELLAS.character.status.dead.title"}}"></i>{{/if}}</span>
								{{/repeat}}
							</div>
						</div>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="greek-meander-bkgd h-5 w-full mb-1"></div>

			<div class="grid grid-cols-2 gap-2">
				<div>
					{{!-- Skill list --}}
					<table class="skills shadow-md border-gray-500 border-solid border-opacity-100 border-l border-r">
						<thead>
						<tr>
							<td colspan="7" class="hellas-titling text-center">{{localize "HELLAS.section.skills.title"}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.skill.column.name"}}</td>
							<td class="w-4"></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.skill.column.level"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.skill.column.attr"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.skill.column.rating"}}</td>
							<td class="hellas-titling text-center items-center w-4">
								<div class="item-controls w-auto">
									<a class="item-control item-create" title="{{localize "HELLAS.skills.controls.add"}}" data-type="skill"><i class="fas fa-plus"></i></a>
								</div>
							</td>
						</tr>
						</thead>
						<tbody>
						{{#each data.items.skills as |skill key|}}
							<tr class="item" data-item-id="{{skill._id}}">
								<td class="pl-1">{{#ifEmptyOrWhitespace skill.data.notes}}
									<i class="fas fa-info-circle disabled"></i>
								{{else}}
									<span class="tooltip" data-tooltip-content="#tooltip_content_{{skill._id}}"><i class="fas fa-info-circle"></i></span>
								{{/ifEmptyOrWhitespace}}</td>
								<td>{{skill.name}}</td>
								<td class="text-center w-4">
									<a class="item-control skill-roll" data-item-id="{{skill._id}}" data-rating="{{skill.data.level.max}}" data-name="{{skill.name}}" title="{{localize "HELLAS.item.skill.roll"}}"><i class="fas fa-dice-d20"></i></a>
								</td>
								<td class="text-center">{{skill.data.level.value}}</td>
								<td class="text-center">{{skill.data.attribute}}</td>
								<td class="text-center">{{skill.data.level.max}}</td>
								<td class="text-center align-middle w-4 pr-1">
									<div class="item-controls w-auto">
										<a class="item-control item-edit" title="{{localize "HELLAS.skills.controls.edit"}}"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="{{localize "HELLAS.skills.controls.delete"}}"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						{{/each}}
						</tbody>
					</table>

					<table class="skills shadow-md border-gray-500 border-solid border-opacity-100 border-l border-r border-b">
						<thead>
						<tr>
							<td colspan="7" class="hellas-titling text-center">{{localize "HELLAS.section.dynamism.title"}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.dynamism.column.name"}}</td>
							<td class="w-4"></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.dynamism.column.dod"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.dynamism.column.range"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.dynamism.column.duration"}}</td>
							<td class="hellas-titling text-center items-center w-4">
								<div class="item-controls w-auto">
									<a class="item-control item-create" title="{{localize "HELLAS.dynamism.controls.add"}}" data-type="dynamism"><i class="fas fa-plus"></i></a>
								</div>
							</td>
						</tr>
						</thead>
						<tbody>
						{{#each data.items.dynamism as |dynamism key|}}
							<tr class="item" data-item-id="{{dynamism._id}}">
								<td class="pl-1">
									<span class="tooltip" data-tooltip-content="#tooltip_content_{{dynamism._id}}"><i class="fas fa-info-circle"></i></span>
								</td>
								<td>{{dynamism.name}}</td>
								<td class="text-center w-4">
									<a class="item-control dynamism-roll" data-item-id="{{dynamism._id}}" title="{{localize "HELLAS.item.dynamism.roll"}}"><i class="fas fa-dice-d20"></i></a>
								</td>
								<td class="text-center">{{dynamism.data.dod}}</td>
								<td class="text-center">{{dynamism.data.range}}</td>
								<td class="text-center">{{dynamism.data.duration}}</td>
								<td class="text-center align-middle w-4 pr-1">
									<div class="item-controls w-auto">
										<a class="item-control item-edit" title="{{localize "HELLAS.dynamism.controls.edit"}}"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="{{localize "HELLAS.dynamism.controls.delete"}}"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
				<div>
					<table class="skills shadow-md border-gray-500 border-solid border-opacity-100 border-l border-r">
						<thead>
						<tr>
							<td colspan="9" class="hellas-titling text-center">{{localize "HELLAS.section.weapons.title"}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.name"}}</td>
							<td class="w-4"></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.acc"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.dr"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.rof"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.ammo"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.weapon.column.rng"}}</td>
							<td class="hellas-titling text-center items-center w-4">
								<div class="item-controls w-auto">
									<a class="item-control item-create" title="{{localize "HELLAS.weapons.controls.add"}}" data-type="weapon"><i class="fas fa-plus"></i></a>
								</div>
							</td>
						</tr>
						</thead>
						<tbody>
						{{#each data.items.weapons as |weapon key|}}
							<tr class="item" data-item-id="{{weapon._id}}">
								<td class="pl-1">
									<span class="tooltip" data-tooltip-content="#tooltip_content_{{weapon._id}}"><i class="fas fa-info-circle"></i></span>
								</td>
								<td>{{weapon.name}}</td>
								<td class="text-center w-4">
									<a class="item-control weapon-roll" data-item-id="{{weapon._id}}" title="{{localize "HELLAS.item.weapon.roll"}}"><i class="fas fa-dice-d20"></i></a>
								</td>
								<td class="text-center">{{weapon.data.acc}}</td>
								<td class="text-center">{{weapon.data.dr}}{{localize (concat "HELLAS.weapon.modifier.short." weapon.data.modifier)}}</td>
								<td class="text-center">{{weapon.data.rof}}</td>
								<td class="text-center">{{weapon.data.ammo}}</td>
								<td class="text-center">{{weapon.data.rng}}</td>
								<td class="text-center align-middle w-4 pr-1">
									<div class="item-controls w-auto">
										<a class="item-control item-edit" title="{{localize "HELLAS.weapons.controls.edit"}}"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="{{localize "HELLAS.weapons.controls.delete"}}"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						{{/each}}
						</tbody>
					</table>

					<table class="skills shadow-md border-gray-500 border-solid border-opacity-100 border-l border-r border-b">
						<thead>
						<tr>
							<td colspan="4" class="hellas-titling text-center">{{localize "HELLAS.section.initiative.title"}}</td>
						</tr>
						<tr>
							<td colspan="2" class="hellas-titling text-center">{{localize "HELLAS.initiative.column.firstround.title"}}</td>
							<td colspan="2" class="hellas-titling text-center">{{localize "HELLAS.initiative.column.followingrounds.title"}}</td>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td class="text-center w-4">
								<a class="item-control initiative-roll ml-1 mr-1" data-item-id="first" title="{{localize "HELLAS.initiative.modifiers.firstround.roll"}}"><i class="fas fa-dice-d20"></i></a>
							</td>
							<td>
								<input type="number" name="data.initiative.modifiers.first" value="{{data.initiative.modifiers.first}}" data-dtype="Number" aria-label="{{localize "HELLAS.initiative.column.firstround.label"}}">
							</td>
							<td class="text-center w-4">
								<a class="item-control initiative-roll ml-1 mr-1" data-item-id="following" title="{{localize "HELLAS.initiative.modifiers.followingrounds.roll"}}"><i class="fas fa-dice-d20"></i></a>
							</td>
							<td>
								<input type="number"class="mr-1" name="data.initiative.modifiers.following" value="{{data.initiative.modifiers.following}}" data-dtype="Number" aria-label="{{localize "HELLAS.initiative.column.followingrounds.label"}}">
							</td>
						</tr>
						</tbody>
					</table>

					<table class="skills shadow-md border-gray-500 border-solid border-opacity-100 border-l border-r border-b">
						<thead>
						<tr>
							<td colspan="6" class="hellas-titling text-center">{{localize "HELLAS.section.armor.title"}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.armor.column.name"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.armor.column.active"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.armor.column.pr"}}</td>
							<td class="hellas-titling text-center">{{localize "HELLAS.armor.column.parry"}}</td>
							<td class="hellas-titling text-center items-center w-4">
								<div class="item-controls w-auto">
									<a class="item-control item-create" title="{{localize "HELLAS.armor.controls.add"}}" data-type="armor"><i class="fas fa-plus"></i></a>
								</div>
							</td>
						</tr>
						</thead>
						<tbody>
						{{#each data.items.armor as |armor key|}}
							<tr class="item" data-item-id="{{armor._id}}">
								<td class="pl-1">
									<span class="tooltip" data-tooltip-content="#tooltip_content_{{armor._id}}"><i class="fas fa-info-circle"></i></span>
								</td>
								<td>{{armor.name}}</td>
								<td class="text-center">
									<a class="item-control armor-active-checkbox" data-item-id="{{armor._id}}" title="{{#if armor.data.active}}{{localize "HELLAS.armor.active.title"}}{{else}}{{localize "HELLAS.armor.inactive.title"}}{{/if}}">{{#if armor.data.active}}<i class="fas fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}</a>
								</td>
								<td class="text-center">{{armor.data.pr}}{{localize (concat "HELLAS.armor.modifier.short." armor.data.modifier)}}</td>
								<td class="text-center">{{armor.data.parry}}</td>
								<td class="text-center align-middle w-4 pr-1">
									<div class="item-controls w-auto">
										<a class="item-control item-edit" title="{{localize "HELLAS.armor.controls.edit"}}"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="{{localize "HELLAS.armor.controls.delete"}}"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						{{/each}}
						</tbody>
						<tfoot>
						<tr>
							<td colspan="6" class="bg-gray-500">
								<div class="grid grid-cols-3 gap-1.5 text-white">
									<div class="text-center">
										{{localize "HELLAS.armor.total.pr" total=data.modifiers.armor.pr}}
									</div>
									<div class="text-center">
										{{localize "HELLAS.armor.total.dex" total=data.modifiers.armor.dexterity}}
									</div>
									<div class="text-center">
										{{localize "HELLAS.armor.total.per" total=data.modifiers.armor.perception}}
									</div>
								</div>
							</td>
						</tr>
						</tfoot>
					</table>

					<table class="skills shadow-md border-gray-500 border-solid border-opacity-100 border-l border-r border-b">
						<thead>
						<tr>
							<td colspan="3" class="hellas-titling text-center">{{localize "HELLAS.section.talent.title"}}</td>
						</tr>
						<tr>
							<td></td>
							<td class="hellas-titling text-center">{{localize "HELLAS.talent.column.name"}}</td>
							<td class="hellas-titling text-center items-center w-4">
								<div class="item-controls w-auto">
									<a class="item-control item-create" title="{{localize "HELLAS.talent.controls.add"}}" data-type="talent"><i class="fas fa-plus"></i></a>
								</div>
							</td>
						</tr>
						</thead>
						<tbody>
						{{#each data.items.talents as |talent key|}}
							<tr class="item" data-item-id="{{talent._id}}">
								<td class="pl-1">
									<span class="tooltip" data-tooltip-content="#tooltip_content_{{talent._id}}"><i class="fas fa-info-circle"></i></span>
								</td>
								<td>{{talent.name}}</td>
								<td class="text-center align-middle w-4 pr-1">
									<div class="item-controls w-auto">
										<a class="item-control item-edit" title="{{localize "HELLAS.talent.controls.edit"}}"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" title="{{localize "HELLAS.talent.controls.delete"}}"><i class="fas fa-trash"></i></a>
									</div>
								</td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
			</div>


			{{!-- Hidden tooltip HTML content --}}
			<div class="hidden">
				<div id="tooltip_content_xp">
					<table style="max-width: 640px;">
						<thead>
						<tr>
							<th>Spending Experience</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<h3>Improving Existing Skills</h3>
								<p>Cost to improve a skill after character creation = new skill level +1 XP</p>
							</td>
						</tr>
						<tr>
							<td>
								<h3>Acquiring New Skills</h3>
								<p>Purchasing skills after character creation = .5 XP x Training Period</p>
							</td>
						</tr>
						<tr>
							<td>
								<h3>Gaining New Talents</h3>
								<p>Purchasing Talents after character creation = 20 XP</p>
							</td>
						</tr>
						<tr>
							<td>
								<h3>Improving Attributes</h3>
								<p>Cost to improve an Attribute after character creation = new attribute level x5 XP</p>
							</td>
						</tr>
						<tr>
							<td>
								<h3>Going Above Racial Maximum</h3>
								<p>One thing that defines the Hero is his abilities beyond that of the normal Hellene. If a player
									wants to increase his character’s Attributes beyond the racial maximum, he must spend
									double the normal cost for the increase.
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<h3>Increasing Combat Rating and Dynamism</h3>
								<p>Cost to improve an CR or DYN after character creation = new attribute level x10 XP
								</p>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div id="tooltip_content_heropoints">
					<table style="max-width: 640px;">
						<thead>
						<tr>
							<th>Spending Hero Points</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<ul>
									<li>
										Players may spend Hero Points to increase a roll by +2. Hero Points may be spent after the
										roll is made.
									</li>
									<li>
										Hero Points may be used to negate a mishap or critical failure.
									</li>
									<li>
										One Hero Point will add +4 to damage inflicted.
									</li>
									<li>
										Hero Points may be spent to negate 4 points of damage per point spent. The Hero can spend
										up to his maximum amount of Hero Points in this way
										<blockquote>
											Example: Iolaus is fighting a giant machina construct on the asteroid archipelago in the Myrtoum Solar Sea Expanse.
											At his disposal are three Hero Points. The machina shoots a salvo of micro missiles at the nimble Hero,
											hitting him for 30 points of damage! Iolaus is in the pursuit of a Diomedean bridle
											(one of his Ambitions) and decides this would be a good time to use his Hero Points to negate the damage.
											Iolaus&#39; player spends all three Hero Points and negates 12 points of damage
										</blockquote>
									</li>
									<li>
										Two points will give you one extra Action for one round of combat without any multi-action
										penalty.
									</li>
									<li>
										Two points can be spent to negate the unconsciousness effects of a critical hit. This takes a full
										turn to complete.
									</li>
									<li>
										A Hero may give any or all of his available Hero Points to another by clasping hands and wishing the other luck.
										This takes one round and during this time the two Heroes may do nothing else other than reaffirm their friendship
										and willingness to help one another. A Hero may only be &quot;gifted&quot; a number of Hero Points equal to 3 times his normal amount.
										The Gifting Hero will not regain his normal amount until the &quot;gift&quot; is used or given back.
									</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td style="text-align: center;">
								<table>
									<thead>
									<tr>
										<td>Glory Score</td>
										<td>Hero Point Max Per Action</td>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>1–20</td>
										<td>2</td>
									</tr>
									<tr>
										<td>21–40</td>
										<td>3</td>
									</tr>
									<tr>
										<td>41–100</td>
										<td>5</td>
									</tr>
									<tr>
										<td>101–150</td>
										<td>6</td>
									</tr>
									<tr>
										<td>151–200</td>
										<td>10</td>
									</tr>
									<tr>
										<td>200+</td>
										<td>Any</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				{{#each data.items.skills as |skill key|}}
					<div id="tooltip_content_{{skill._id}}">
						<img src="{{skill.img}}" title="{{skill.name}}" alt="{{skill.name}}" height="50"/>
						<h1 style="display: inline; margin-left: 4px;">{{skill.name}}</h1>
						<table style="max-width: 640px;">
							<tbody>
							<tr>
								<td>{{localize "HELLAS.skill.column.level"}}</td>
								<td>{{skill.data.level.value}}</td>
							</tr>
							<tr>
								<td>{{localize "HELLAS.skill.column.attr"}}</td>
								<td>{{skill.data.attribute}}</td>
							</tr>
							<tr>
								<td>{{localize "HELLAS.skill.column.rating"}}</td>
								<td>{{skill.data.level.max}}</td>
							</tr>
							</tbody>
						</table>
						<div style="max-width: 640px;">
							{{!-- raw html output --}}
							{{{skill.data.notes}}}
						</div>
					</div>
				{{/each}}
				{{#each data.items.weapons as |weapon key|}}
					<div id="tooltip_content_{{weapon._id}}">
						<img src="{{weapon.img}}" title="{{weapon.name}}" alt="{{weapon.name}}" height="50"/>
						<h1 style="display: inline; margin-left: 4px;">{{weapon.name}}</h1>
						<table style="max-width: 640px;">
							<tbody>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.skillid.label"}}</td>
								<td>{{#if (eq weapon.data.skillid "combatrating")}}
									{{localize "HELLAS.weapon.skillid.default.name"}}
								{{else}}
									{{setVar "weaponSkill" (findEntryByKeyValue @root.data.items.skills "_id" weapon.data.skillid)}}
									{{#if @root.weaponSkill}}
										{{@root.weaponSkill.name}}
									{{else}}
										{{localize "HELLAS.weapon.skillid.unknown.name"}}
									{{/if}}
								{{/if}}
								</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.acc.label"}}</td>
								<td>{{weapon.data.acc}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.dr.label"}}</td>
								<td>{{weapon.data.dr}}</td>
							</tr>

							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.modifier.label"}}</td>
								<td>{{localize (concat "HELLAS.weapon.modifier.long." weapon.data.modifier)}}</td>
							</tr>
							{{#unless (eq weapon.data.modifier "regular")}}
								<tr>
									<td colspan="2">{{{localize (concat "HELLAS.weapon.modifier.desc." weapon.data.modifier)}}}</td>
								</tr>
							{{/unless}}
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.wt.label"}}</td>
								<td>{{weapon.data.wt}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.str.label"}}</td>
								<td>{{weapon.data.str}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.rof.label"}}</td>
								<td>{{weapon.data.rof}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.ammo.label"}}</td>
								<td>{{weapon.data.ammo}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.rng.label"}}</td>
								<td>{{weapon.data.rng}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.ismissile.label"}}</td>
								<td>{{#if weapon.data.ismissile}}<i class="fas fa-check-square"></i>{{/if}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.weapon.price.label"}}</td>
								<td>{{weapon.data.price}}</td>
							</tr>
							</tbody>
						</table>
						<div style="max-width: 640px;">
							{{!-- raw html output --}}
							{{{weapon.data.notes}}}
						</div>
					</div>
				{{/each}}
				{{#each data.items.armor as |armor key|}}
					<div id="tooltip_content_{{armor._id}}">
						<img src="{{armor.img}}" title="{{armor.name}}" alt="{{armor.name}}" height="50"/>
						<h1 style="display: inline; margin-left: 4px;">{{armor.name}}</h1>
						<table style="max-width: 640px;">
							<tbody>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.type.label"}}</td>
								<td>{{localize (concat "HELLAS.armor.type.opt.long." armor.data.type)}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.modifier.label"}}</td>
								<td>{{localize (concat "HELLAS.armor.modifier.long." armor.data.modifier)}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.pr.label"}}</td>
								<td>{{armor.data.pr}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.str.label"}}</td>
								<td>{{armor.data.str}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.parry.label"}}</td>
								<td>{{armor.data.parry}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.md.label"}}</td>
								<td>{{armor.data.md}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.per.label"}}</td>
								<td>{{armor.data.per}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.cha.label"}}</td>
								<td>{{armor.data.cha}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.wt.label"}}</td>
								<td>{{armor.data.wt}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.armor.price.label"}}</td>
								<td>{{armor.data.price}}</td>
							</tr>
							</tbody>
						</table>
						<div style="max-width: 640px;">
							{{!-- raw html output --}}
							{{{armor.data.notes}}}
						</div>
					</div>
				{{/each}}
				{{#each data.items.dynamism as |dynamism key|}}
					<div id="tooltip_content_{{dynamism._id}}">
						<img src="{{dynamism.img}}" title="{{dynamism.name}}" alt="{{dynamism.name}}" height="50"/>
						<h1 style="display: inline; margin-left: 4px;">{{dynamism.name}}</h1>
						<table style="max-width: 640px;">
							<tbody>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.skillid.label"}}</td>
								<td>{{#if (eq dynamism.data.skillid "dynamism")}}
									{{localize "HELLAS.dynamism.skillid.default.name"}}
								{{else}}
									{{setVar "dynamismSkill" (findEntryByKeyValue @root.data.items.skills "_id" dynamism.data.skillid)}}
									{{#if @root.dynamismSkill}}
										{{@root.dynamismSkill.name}}
									{{else}}
										{{localize "HELLAS.dynamism.skillid.unknown.name"}}
									{{/if}}
								{{/if}}
								</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.dod.label"}}</td>
								<td>{{dynamism.data.dod}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.dodinfo.label"}}</td>
								<td>{{breaklines dynamism.data.dodinfo}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.range.label"}}</td>
								<td>{{dynamism.data.range}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.other.label"}}</td>
								<td>{{dynamism.data.other}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.tradition.label"}}</td>
								<td>{{dynamism.data.tradition}}</td>
							</tr>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.dynamism.duration.label"}}</td>
								<td>{{dynamism.data.duration}}</td>
							</tr>
							</tbody>
						</table>
						<div style="max-width: 640px;">
							{{!-- raw html output --}}
							{{{dynamism.data.notes}}}
						</div>
					</div>
				{{/each}}
				{{#each data.items.talents as |talent key|}}
					<div id="tooltip_content_{{talent._id}}">
						<img src="{{talent.img}}" title="{{talent.name}}" alt="{{talent.name}}" height="50"/>
						<h1 style="display: inline; margin-left: 4px;">{{talent.name}}</h1>
						<table style="max-width: 640px;">
							<tbody>
							<tr>
								<td style="padding-right: 3px;">{{localize "HELLAS.talent.desc.label"}}</td>
								<td>{{breaklines talent.data.desc}}</td>
							</tr>
							<tr>
								<td colspan="2">
									{{localize "HELLAS.talent.benefit.label"}}
									<hr>
									{{{talent.data.benefit}}}
								</td>
							</tr>
							</tbody>
						</table>
						<div style="max-width: 640px;">
							{{!-- raw html output --}}
							{{{dynamism.data.notes}}}
						</div>
					</div>
				{{/each}}
			</div>
		</div>

		{{!-- Disadvantages Tab --}}
		<div class="tab personal" data-group="primary" data-tab="disadvantages">
			<div class="grid grid-cols-2 gap-2">
				<div>
					<fieldset class="mb-1 mt-1 bg-gray-200 bg-opacity-70">
						<h3 class="hellas-titling">Disadvantages</h3>
						<fieldset class="mb-1">
							<h4 class="hellas-titling">Relationship</h4>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label>Rating: <input type="text" class="width40" id="data.disadvantages.relationship.level" name="data.disadvantages.relationship.level" value="{{data.disadvantages.relationship.level}}" data-dtype="Number"></label>
									<textarea rows="4" class="mt-1" id="data.disadvantages.relationship.info" name="data.disadvantages.relationship.info" data-dtype="String">{{data.disadvantages.relationship.info}}</textarea>
								</div>
							</div>
						</fieldset>

						<fieldset class="mb-1">
							<h4 class="hellas-titling">Internal</h4>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label>Rating: <input type="text" class="width40 mb-1" id="data.disadvantages.internal.level" name="data.disadvantages.internal.level" value="{{data.disadvantages.internal.level}}" data-dtype="Number"></label>
									<textarea rows="4" class="mt-1" id="data.disadvantages.internal.info" name="data.disadvantages.internal.info" data-dtype="String">{{data.disadvantages.internal.info}}</textarea>
								</div>
							</div>
						</fieldset>

						<fieldset class="mb-1">
							<h4 class="hellas-titling">External</h4>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label>Rating: <input type="text" class="width40 mb-1" id="data.disadvantages.external.level" name="data.disadvantages.external.level" value="{{data.disadvantages.external.level}}" data-dtype="Number"></label>
									<textarea rows="4" class="mt-1" id="data.disadvantages.external.info" name="data.disadvantages.external.info" data-dtype="String">{{data.disadvantages.external.info}}</textarea>
								</div>
							</div>
						</fieldset>
					</fieldset>

					<fieldset class="mb-1 bg-gray-200 bg-opacity-70">
						<h3 class="hellas-titling">Possessions</h3>
						<textarea class="mb-1" rows="10" id="data.possessions.info" name="data.possessions.info" data-dtype="String">{{data.possessions.info}}</textarea>
					</fieldset>
				</div>
				<div>
					<fieldset class="mb-1 mt-1 bg-gray-200 bg-opacity-70">
						<h3 class="hellas-titling">Special Abilities &amp; Divine Favors</h3>
						<textarea class="mb-1" rows="10" id="data.abilities.info" name="data.abilities.info" data-dtype="String">{{data.abilities.info}}</textarea>
					</fieldset>

					<fieldset class="mb-1 bg-gray-200 bg-opacity-70">
						<h3 class="hellas-titling">Ambitions</h3>
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<textarea class="mb-1" rows="5" id="data.ambitions.1.info" name="data.ambitions.1.info" data-dtype="String">{{data.ambitions.1.info}}</textarea>
								<textarea class="mb-1" rows="5" id="data.ambitions.2.info" name="data.ambitions.2.info" data-dtype="String">{{data.ambitions.2.info}}</textarea>
								<textarea class="mb-1" rows="5" id="data.ambitions.3.info" name="data.ambitions.3.info" data-dtype="String">{{data.ambitions.3.info}}</textarea>
								<textarea class="mb-1" rows="5" id="data.ambitions.4.info" name="data.ambitions.4.info" data-dtype="String">{{data.ambitions.4.info}}</textarea>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

		{{!-- Personal Tab --}}
		<div class="tab personal" data-group="primary" data-tab="personal">
			<div class="grid grid-cols-2 gap-2">
				<div>
					<fieldset class="mb-1 mt-1 bg-gray-200 bg-opacity-70">
						<h3 class="hellas-titling">Family</h3>
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<label for="data.personal.tree.house"
									   class="mb-1"
									   title="The House Of">The House Of</label>
								<input type="text" id="data.personal.tree.house" name="data.personal.tree.house" value="{{data.personal.tree.house}}" data-dtype="String">
							</div>
						</div>
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<label for="data.personal.info.socialstation"
									   class="mb-1"
									   title="Parent's Social Station">Parent's Social Station</label>
								<input type="text" id="data.personal.info.socialstation" name="data.personal.info.socialstation" value="{{data.personal.info.socialstation}}" data-dtype="String">
							</div>
						</div>
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<label for="data.personal.info.familystatus"
									   class="mb-1"
									   title="Family Status">Family Status</label>
								<input type="text" id="data.personal.info.familystatus" name="data.personal.info.familystatus" value="{{data.personal.info.familystatus}}" data-dtype="String">
							</div>
						</div>

						<fieldset class="mb-1">
							<h4 class="hellas-titling">Maternal</h4>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.tree.mother.grandmother"
										   class="mb-1"
										   title="Grandmother">Grandmother</label>
									<input type="text" id="data.personal.tree.mother.grandmother" name="data.personal.tree.mother.grandmother" value="{{data.personal.tree.mother.grandmother}}" data-dtype="String">
								</div>
							</div>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.tree.mother.grandfather"
										   class="mb-1"
										   title="Grandfather">Grandfather</label>
									<input type="text" id="data.personal.tree.mother.grandfather" name="data.personal.tree.mother.grandfather" value="{{data.personal.tree.mother.grandfather}}" data-dtype="String">
								</div>
							</div>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.tree.mother.name"
										   class="mb-1"
										   title="Mother">Mother</label>
									<input type="text" id="data.personal.tree.mother.name" name="data.personal.tree.mother.name" value="{{data.personal.tree.mother.name}}" data-dtype="String">
								</div>
							</div>
						</fieldset>

						<fieldset class="mb-1">
							<h4 class="hellas-titling">Paternal</h4>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.tree.father.grandmother"
										   class="mb-1"
										   title="Grandmother">Grandmother</label>
									<input type="text" id="data.personal.tree.father.grandmother" name="data.personal.tree.father.grandmother" value="{{data.personal.tree.father.grandmother}}" data-dtype="String">
								</div>
							</div>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.tree.father.grandfather"
										   class="mb-1"
										   title="Grandfather">Grandfather</label>
									<input type="text" id="data.personal.tree.father.grandfather" name="data.personal.tree.father.grandfather" value="{{data.personal.tree.father.grandfather}}" data-dtype="String">
								</div>
							</div>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.tree.father.name"
										   class="mb-1"
										   title="Father">Father</label>
									<input type="text" id="data.personal.tree.father.name" name="data.personal.tree.father.name" value="{{data.personal.tree.father.name}}" data-dtype="String">
								</div>
							</div>
						</fieldset>

						<fieldset class="mb-1">
							<h4 class="hellas-titling">Children</h4>
							{{#each actor.HELLAS.childrenBorn as |childOrder|}}
								<div class="mr-2 mb-2">
									<div class="flex flex-col">
										<label for="data.personal.tree.children.{{childOrder}}"
											   class="mb-1"
											   title="Child {{add @index 1}}">Child {{add @index 1}}</label>
										<input type="text" id="data.personal.tree.children.{{childOrder}}" name="data.personal.tree.children.{{childOrder}}" value="{{lookup @root.data.personal.tree.children childOrder}}" data-dtype="String">
									</div>
								</div>
							{{/each}}
						</fieldset>
					</fieldset>

					<fieldset class="mb-1 bg-gray-200 bg-opacity-70">
						<h3 class="hellas-titling">Birth</h3>
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<label for="data.personal.birth.age"
									   class="mb-1"
									   title="Age">Age</label>
								<input type="text" id="data.personal.birth.age" name="data.personal.birth.age" value="{{data.personal.birth.age}}" data-dtype="String">
							</div>
							<div class="flex flex-col">
								<label for="data.personal.birth.month"
									   class="mb-1"
									   title="Month">Month</label>
								<input type="text" id="data.personal.birth.month" name="data.personal.birth.month" value="{{data.personal.birth.month}}" data-dtype="String">
							</div>
							<div class="flex flex-col">
								<label for="data.personal.birth.year"
									   class="mb-1"
									   title="Year">Year</label>
								<input type="text" id="data.personal.birth.year" name="data.personal.birth.year" value="{{data.personal.birth.year}}" data-dtype="String">
							</div>
							<div class="flex flex-col">
								<label for="data.personal.birth.planet"
									   class="mb-1"
									   title="Planet">Planet</label>
								<input type="text" id="data.personal.birth.planet" name="data.personal.birth.planet" value="{{data.personal.birth.planet}}" data-dtype="String">
							</div>
						</div>
					</fieldset>

					<fieldset class="mb-1 bg-gray-200 bg-opacity-70">
						<h3 class="hellas-titling">Notes</h3>
						<textarea rows="10" id="data.personal.info.notes" name="data.personal.info.notes" data-dtype="String">{{data.personal.info.notes}}</textarea>
					</fieldset>
				</div>
				<div>
					<fieldset class="mb-1 mt-1 bg-gray-200 bg-opacity-70">
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<label for="data.personal.info.gift"
									   class="mb-1 font-bold"
									   title="Special Gift">Special Gift</label>
								<small>As a child I inherited a gift that I now hold dear.</small>
								<input type="text" id="data.personal.info.gift" name="data.personal.info.gift" value="{{data.personal.info.gift}}" data-dtype="String">
							</div>
						</div>
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<label for="data.personal.info.mark"
									   class="mb-1 font-bold"
									   title="Divine Mark">Divine Mark</label>
								<small>My divinity is self evident.</small>
								<textarea rows="2" id="data.personal.info.mark" name="data.personal.info.mark" data-dtype="String">{{data.personal.info.mark}}</textarea>
							</div>
						</div>
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<label for="data.personal.info.encounter"
									   class="mb-1 font-bold"
									   title="Childhood Encounter">Childhood Encounter</label>
								<small>As a child something changed my life forever.</small>
								<textarea rows="2" id="data.personal.info.encounter" name="data.personal.info.encounter" data-dtype="String">{{data.personal.info.encounter}}</textarea>
						</div>
						</div>
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<label for="data.personal.info.destiny"
									   class="mb-1 font-bold"
									   title="My Destiny">My Destiny</label>
								<small>It has been made clear what my path to immortality will be.</small>
								<textarea rows="2" id="data.personal.info.destiny" name="data.personal.info.destiny" data-dtype="String">{{data.personal.info.destiny}}</textarea>
							</div>
						</div>
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<label for="data.personal.info.fate"
									   class="mb-1 font-bold"
									   title="My Fate">My Fate</label>
								<small>I walk a narrow path to my destiny; if I stray my fate is clear.</small>
								<textarea rows="2" id="data.personal.info.fate" name="data.personal.info.fate" data-dtype="String">{{data.personal.info.fate}}</textarea>
							</div>
						</div>
						<div class="mr-2 mb-2">
							<div class="flex flex-col">
								<label for="data.personal.info.deeds"
									   class="mb-1 font-bold"
									   title="Completed Deeds">Completed Deeds</label>
								<small>I gain Glory and my Legend grows.</small>
								<textarea rows="3" id="data.personal.info.deeds" name="data.personal.info.deeds" data-dtype="String">{{data.personal.info.deeds}}</textarea>
							</div>
						</div>
					</fieldset>
					<fieldset class="mb-1 bg-gray-200 bg-opacity-70">
						<h3 class="hellas-titling">The Callings</h3>
						<p>In my life I have been many things to many people; I have traveled far and seen much, and I am the sum of these paths:</p>
						<fieldset class="mb-1">
							<h3 class="hellas-titling">My First Path</h3>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.info.callings.first.years"
										   class="mb-1"
										   title="Total years">Total years</label>
									<input type="text" id="data.personal.info.callings.first.years" name="data.personal.info.callings.first.years" value="{{data.personal.info.callings.first.years}}" data-dtype="String">
								</div>
								<div class="flex flex-col">
									<label for="data.personal.info.callings.first.notes"
										   class="mb-1 font-bold"
										   title="Notes">Notes</label>
									<textarea rows="3" id="data.personal.info.callings.first.notes" name="data.personal.info.callings.first.notes" data-dtype="String">{{data.personal.info.callings.first.notes}}</textarea>
								</div>
							</div>
						</fieldset>
						<fieldset class="mb-1">
							<h3 class="hellas-titling">My Second Path</h3>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.info.callings.second.years"
										   class="mb-1"
										   title="Total years">Total years</label>
									<input type="text" id="data.personal.info.callings.second.years" name="data.personal.info.callings.second.years" value="{{data.personal.info.callings.second.years}}" data-dtype="String">
								</div>
								<div class="flex flex-col">
									<label for="data.personal.info.callings.second.notes"
										   class="mb-1 font-bold"
										   title="Notes">Notes</label>
									<textarea rows="3" id="data.personal.info.callings.second.notes" name="data.personal.info.callings.second.notes" data-dtype="String">{{data.personal.info.callings.second.notes}}</textarea>
								</div>
							</div>
						</fieldset>
						<fieldset class="mb-1">
							<h3 class="hellas-titling">My Third Path</h3>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.info.callings.third.years"
										   class="mb-1"
										   title="Total years">Total years</label>
									<input type="text" id="data.personal.info.callings.third.years" name="data.personal.info.callings.third.years" value="{{data.personal.info.callings.third.years}}" data-dtype="String">
								</div>
								<div class="flex flex-col">
									<label for="data.personal.info.callings.second.notes"
										   class="mb-1 font-bold"
										   title="Notes">Notes</label>
									<textarea rows="3" id="data.personal.info.third.second.notes" name="data.personal.info.callings.third.notes" data-dtype="String">{{data.personal.info.callings.third.notes}}</textarea>
								</div>
							</div>
						</fieldset>
						<fieldset class="mb-1">
							<h3 class="hellas-titling">My Fourth Path</h3>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.info.callings.fourth.years"
										   class="mb-1"
										   title="Total years">Total years</label>
									<input type="text" id="data.personal.info.callings.fourth.years" name="data.personal.info.callings.fourth.years" value="{{data.personal.info.callings.fourth.years}}" data-dtype="String">
								</div>
								<div class="flex flex-col">
									<label for="data.personal.info.callings.fourth.notes"
										   class="mb-1 font-bold"
										   title="Notes">Notes</label>
									<textarea rows="3" id="data.personal.info.callings.fourth.notes" name="data.personal.info.callings.fourth.notes" data-dtype="String">{{data.personal.info.callings.fourth.notes}}</textarea>
								</div>
							</div>
						</fieldset>
						<fieldset class="mb-1">
							<h3 class="hellas-titling">My Fifth Path</h3>
							<div class="mr-2 mb-2">
								<div class="flex flex-col">
									<label for="data.personal.info.callings.fifth.years"
										   class="mb-1"
										   title="Total years">Total years</label>
									<input type="text" id="data.personal.info.callings.fifth.years" name="data.personal.info.callings.fifth.years" value="{{data.personal.info.callings.fifth.years}}" data-dtype="String">
								</div>
								<div class="flex flex-col">
									<label for="data.personal.info.callings.fifth.notes"
										   class="mb-1 font-bold"
										   title="Notes">Notes</label>
									<textarea rows="3" id="data.personal.info.callings.fifth.notes" name="data.personal.info.callings.fifth.notes" data-dtype="String">{{data.personal.info.callings.fifth.notes}}</textarea>
								</div>
							</div>
						</fieldset>
					</fieldset>
				</div>
			</div>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>
