<form autocomplete="off" autocapitalize="off">
	<div class="form-group">
		<label for="hellas.roll.dod" title="{{localize "HELLAS.roll.modifiers.dialog.dod.title"}}">{{localize "HELLAS.roll.modifiers.dialog.dod.label"}}</label>
		<input type="number"
			   id="hellas.roll.dod"
			   name="dod"
			   value="0"
			   data-dtype="Number"
			   min="-1000" step="1"
			   title="{{localize "HELLAS.roll.modifiers.dialog.dod.title"}}"
			   onfocus="this.select();"/>
	</div>
	<div class="form-group">
		<label for="hellas.roll.nonproficiency" title="{{localize "HELLAS.roll.modifiers.dialog.nonproficiency.title"}}">{{localize "HELLAS.roll.modifiers.dialog.nonproficiency.label"}}</label>
		<input type="number" id="hellas.roll.nonproficiency" name="nonproficiency" value="0" data-dtype="Number" min="-1000" step="1" title="{{localize "HELLAS.roll.modifiers.dialog.nonproficiency.title"}}"/>
	</div>
	<div class="form-group">
		<label for="hellas.roll.multipleactionscount" title="{{localize "HELLAS.roll.modifiers.dialog.multipleactionscount.title"}}">{{localize "HELLAS.roll.modifiers.dialog.multipleactionscount.label"}}</label>
		<select id="hellas.roll.multipleactionscount" name="multipleactionscount" data-dtype="Number"  title="{{localize "HELLAS.roll.modifiers.dialog.multipleactionscount.title"}}">
			{{#repeat 11}}
				<option value="{{@index}}" {{selected @first}}>{{@index}}</option>
			{{/repeat}}
		</select>
	</div>
	<div class="form-group">
		<label for="hellas.roll.modifier" title="{{localize "HELLAS.roll.modifiers.dialog.modifier.title"}}">{{localize "HELLAS.roll.modifiers.dialog.modifier.label"}}</label>
		<input type="number" id="hellas.roll.modifier" name="modifier" value="0" data-dtype="Number" min="-1000" step="1" title="{{localize "HELLAS.roll.modifiers.dialog.modifier.title"}}"/>
	</div>
	<br>
</form>
<script type="text/javascript">
	$(function () {
		$(".form-group input[name='dod']").trigger('focus');
	});
</script>
