<form class="{{cssClass}} item" autocomplete="off" autocapitalize="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" {{#if item.name}}title="{{item.name}}"{{/if}}/>
		<div class="header-fields">
			<input class="charname" name="name" type="text" required value="{{item.name}}" data-dtype="String"/>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary-tabs">
		<a class="item" data-tab="armor">{{localize "HELLAS.sheet.tabs.armor"}}</a>
		<a class="item" data-tab="description">{{localize "HELLAS.sheet.tabs.description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- weapon Tab --}}
		<div class="tab armor" data-group="primary-tabs" data-tab="armor">
			<div class="grid grid-cols-3 gap-2 mt-4 flex-none align-middle">
				<div class="text-right">
					<label for="{{item._id}}.data.type"
						   class="align-middle"
						   title="{{localize "HELLAS.armor.type.title"}}">{{localize "HELLAS.armor.type.label"}}</label>
				</div>
				<div class="col-span-2">
					<select id="{{item._id}}.data.type" name="data.type" title="{{localize "HELLAS.armor.type.title"}}" data-dtype="String">
						{{#select data.type}}
							{{#each item.HELLAS.armorTypes as |types|}}
								<optgroup label="{{localize (concat "HELLAS.armor.type.group.long." @key)}}">
									{{#each types as |type|}}
										<option value="{{type}}">{{localize (concat "HELLAS.armor.type.opt.long." type)}}</option>
									{{/each}}
								</optgroup>
							{{/each}}
						{{/select}}
					</select>
				</div>

				<div class="text-right">
					<label for="{{item._id}}.data.modifier"
						   class="align-middle"
						   title="{{localize "HELLAS.armor.modifier.title"}}">{{localize "HELLAS.armor.modifier.label"}}</label>
				</div>
				<div class="col-span-2">
					<select id="{{item._id}}.data.modifier" name="data.modifier" title="{{localize "HELLAS.armor.modifier.title"}}" data-dtype="String">
						{{#select data.modifier}}
							{{#each item.HELLAS.armorModifiers as |modifier|}}
								<option value="{{modifier}}">{{localize (concat "HELLAS.armor.modifier.long." modifier)}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>

				<div class="text-right">
					<label for="{{item._id}}.data.pr"
						   class="align-middle"
						   title="{{localize "HELLAS.armor.pr.title"}}">{{localize "HELLAS.armor.pr.label"}}</label>
				</div>
				<div class="col-span-2">
					<input type="number"
						   class="width10"
						   id="{{item._id}}.data.pr"
						   name="data.pr"
						   value="{{data.pr}}"
						   data-dtype="Number"
						   min="-100" oninput="this.value = Math.round(this.value|0);"
						   title="{{localize "HELLAS.armor.pr.title"}}"/>
				</div>

				<div class="text-right">
					<label for="{{item._id}}.data.str"
						   class="align-middle"
						   title="{{localize "HELLAS.armor.str.title"}}">{{localize "HELLAS.armor.str.label"}}</label>
				</div>
				<div class="col-span-2">
					<input type="number"
						   class="width10"
						   id="{{item._id}}.data.str"
						   name="data.str"
						   value="{{data.str}}"
						   data-dtype="Number"
						   min="-100" oninput="this.value = Math.round(this.value|0);"
						   title="{{localize "HELLAS.armor.str.title"}}"/>
					<small>{{localize "HELLAS.armor.roll.modifier.included"}}</small>
				</div>

				<div class="text-right">
					<label for="{{item._id}}.data.parry"
						   class="align-middle"
						   title="{{localize "HELLAS.armor.parry.title"}}">{{localize "HELLAS.armor.parry.label"}}</label>
				</div>
				<div class="col-span-2">
					<input type="number"
						   class="width10"
						   id="{{item._id}}.data.parry"
						   name="data.parry"
						   value="{{data.parry}}"
						   data-dtype="Number"
						   min="-100" oninput="this.value = Math.round(this.value|0);"
						   title="{{localize "HELLAS.weapon.parry.title"}}"/>
					<small>{{localize "HELLAS.armor.roll.modifier.included"}}</small>
				</div>

				<div class="text-right">
					<label for="{{item._id}}.data.md"
						   class="align-middle"
						   title="{{localize "HELLAS.armor.md.title"}}">{{localize "HELLAS.armor.md.label"}}</label>
				</div>
				<div class="col-span-2">
					<input type="number"
						   class="width10"
						   id="{{item._id}}.data.md"
						   name="data.md"
						   value="{{data.md}}"
						   data-dtype="Number"
						   min="-100" oninput="this.value = Math.round(this.value|0);"
						   title="{{localize "HELLAS.armor.md.title"}}"/>
				</div>

				<div class="text-right">
					<label for="{{item._id}}.data.per"
						   class="align-middle"
						   title="{{localize "HELLAS.armor.per.title"}}">{{localize "HELLAS.armor.per.label"}}</label>
				</div>
				<div class="col-span-2">
					<input type="number"
						   class="width10"
						   id="{{item._id}}.data.per"
						   name="data.per"
						   value="{{data.per}}"
						   data-dtype="Number"
						   min="-100" oninput="this.value = Math.round(this.value|0);"
						   title="{{localize "HELLAS.armor.per.title"}}"/>
					<small>{{localize "HELLAS.armor.roll.modifier.included"}}</small>
				</div>

				<div class="text-right">
					<label for="{{item._id}}.data.cha"
						   class="align-middle"
						   title="{{localize "HELLAS.armor.cha.title"}}">{{localize "HELLAS.armor.cha.label"}}</label>
				</div>
				<div class="col-span-2">
					<input type="number"
						   class="width10"
						   id="{{item._id}}.data.cha"
						   name="data.cha"
						   value="{{data.cha}}"
						   data-dtype="Number"
						   min="-100" oninput="this.value = Math.round(this.value|0);"
						   title="{{localize "HELLAS.armor.cha.title"}}"/>
					<small>{{localize "HELLAS.armor.roll.modifier.excluded"}}</small>
				</div>

				<div class="text-right">
					<label for="{{item._id}}.data.wt"
						   class="align-middle"
						   title="{{localize "HELLAS.armor.wt.title"}}">{{localize "HELLAS.armor.wt.label"}}</label>
				</div>
				<div class="col-span-2">
					<input type="number"
						   class="width10"
						   id="{{item._id}}.data.wt"
						   name="data.wt"
						   value="{{data.wt}}"
						   data-dtype="Number"
						   min="-100" oninput="this.value = Math.round(this.value|0);"
						   title="{{localize "HELLAS.armor.wt.title"}}"/>
				</div>

				<div class="text-right">
					<label for="{{item._id}}.data.price"
						   class="align-middle"
						   title="{{localize "HELLAS.armor.price.title"}}">{{localize "HELLAS.armor.price.label"}}</label>
				</div>
				<div class="col-span-2">
					<input type="number"
						   class="width10"
						   id="{{item._id}}.data.price"
						   name="data.price"
						   value="{{data.price}}"
						   data-dtype="Number"
						   min="-100" oninput="this.value = Math.round(this.value|0);"
						   title="{{localize "HELLAS.armor.price.title"}}"/>
				</div>
			</div>
		</div>

		{{!-- Description Tab --}}
		<div class="tab description" data-group="primary-tabs" data-tab="description">
			{{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>
