<form class="{{cssClass}} item" autocomplete="off" autocapitalize="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" {{#if item.name}}title="{{item.name}}"{{/if}}/>
		<div class="header-fields">
			<h1 class="charname">{{item.name}}</h1>
			<input class="invisible hidden" name="name" type="text" value="{{item.name}}" data-dtype="String"/>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary-tabs">
		<a class="item" data-tab="skill">Skill</a>
		<a class="item" data-tab="description">Description</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Attributes Tab --}}
		<div class="tab skill" data-group="primary-tabs" data-tab="skill">
			<div class="grid grid-cols-3 gap-2 mt-4 flex-none align-middle">
				<div class="text-right">
					<label for="{{item._id}}.data.skill"
						   class="align-middle"
						   title="{{localize "HELLAS.skill.skill.title"}}">{{localize "HELLAS.skill.skill.label"}}</label>
				</div>
				<div class="col-span-2">
					<select id="{{item._id}}.data.skill" name="data.skill" title="{{localize "HELLAS.skill.skill.title"}}" data-dtype="String">
						{{#select data.skill}}
							{{#each item.HELLAS.skills as |skill|}}
								<option value="{{skill}}">{{localize (concat "HELLAS.skills." skill ".name")}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>

				{{#if item.MODESPECIFICS.length}}
					{{setVar "title" (localize "HELLAS.skill.mode.title")}}
					{{setVar "label" (localize "HELLAS.skill.mode.label")}}
				{{else}}
					{{setVar "title" (localize "HELLAS.skill.specifier.title")}}
					{{setVar "label" (localize "HELLAS.skill.specifier.label")}}
				{{/if}}
				<div class="text-right {{#unless item.SKILLSPECIFICS.length}}text-gray-400{{/unless}}">
					<label for="{{item._id}}.data.specifier"
						   class="align-middle"
						   title="{{title}}">{{label}}</label>
				</div>
				<div class="col-span-2">
					<select id="{{item._id}}.data.specifier"
							name="data.specifier"
							title="{{title}}"
							data-dtype="String"
						{{#unless item.SKILLSPECIFICS.length}}class="disabled:opacity-50" disabled{{/unless}}>
						{{#select data.specifier}}
							{{#each item.SKILLSPECIFICS as |breakout|}}
								<option value="{{breakout}}">{{localize (concat "HELLAS.skills.specifics." breakout)}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>

				{{#if item.MODESPECIFICS.length}}
					{{setVar "disabled" (eq item.MODESPECIFICS.length 1)}}
					<div class="text-right {{#if disabled}}text-gray-400{{/if}}">
						<label for="{{item._id}}.data.specifierCustom"
							   class="align-middle"
							   title="{{localize "HELLAS.skill.type.title"}}">{{localize "HELLAS.skill.type.label"}}</label>
					</div>
					<div class="col-span-2">
						<select id="{{item._id}}.data.specifierCustom"
								name="data.specifierCustom"
								title="{{localize "HELLAS.skill.type.title"}}"
								data-dtype="String"
							{{#if disabled}}class="disabled:opacity-50" disabled{{/if}}>
							{{#select data.specifierCustom}}
								{{#each item.MODESPECIFICS as |breakout|}}
									<option value="{{breakout}}">{{localize (concat "HELLAS.skills.mode." breakout)}}</option>
								{{/each}}
							{{/select}}
						</select>
					</div>
				{{else}}
					<div class="text-right {{#unless (eq data.specifier item.SPECIFY_SUBTYPE)}}text-gray-400{{/unless}}">
						<label for="{{item._id}}.data.specifierCustom"
							   class="align-middle"
							   title="{{localize "HELLAS.skill.specifier.custom.title"}}">{{localize "HELLAS.skill.specifier.custom.label"}}</label>
					</div>
					<div class="col-span-2">
						<input type="text"
							   id="{{item._id}}.data.specifierCustom"
							   name="data.specifierCustom"
							   value="{{data.specifierCustom}}"
							   data-dtype="String"
							   title="{{localize "HELLAS.skill.specifier.custom.title"}}"
							{{#unless (eq data.specifier item.SPECIFY_SUBTYPE)}}class="disabled:opacity-50" disabled{{/unless}}/>
					</div>
				{{/if}}

				<div class="text-right {{#unless item.SHORTATTRIBUTELIST.length}}text-gray-400{{/unless}}">
					<label for="{{item._id}}.data.attribute"
						   class="align-middle"
						   title="{{localize "HELLAS.skill.attribute.title"}}">{{localize "HELLAS.skill.attribute.label"}}</label>
				</div>
				<div class="col-span-2">
					<select id="{{item._id}}.data.attribute"
							name="data.attribute"
							title="{{localize "HELLAS.skill.attribute.title"}}"
							data-dtype="String"
						{{#unless item.SHORTATTRIBUTELIST.length}}class="disabled:opacity-50" disabled{{/unless}}>
						{{#select data.attribute}}
							{{#each item.SHORTATTRIBUTELIST as |attribute|}}
								<option value="{{attribute}}">{{localize (concat "HELLAS.attributes." (lookup @root.item.HELLAS.attributesShortToLong attribute) ".name")}}</option>
							{{/each}}
						{{/select}}

					</select>
				</div>

				<div class="text-right">
					<label for="{{item._id}}.data.level"
						   class="align-middle"
						   title="{{localize "HELLAS.skill.level.title"}}">{{localize "HELLAS.skill.level.label"}}</label>
				</div>
				<div class="col-span-2">
					<input type="number"
						   class="w-10"
						   id="{{item._id}}.data.level"
						   name="data.level.value"
						   value="{{data.level.value}}"
						   data-dtype="Number"
						   min="-10" step="1" oninput="this.value = Math.round(this.value|0);"
						   title="{{localize "HELLAS.skill.level.title"}}"/>
				</div>
			</div>
			{{#if (ne data.skill "")}}
				{{setVar "notes" false}}
				<div class="mt-4 ml-4 mr-4">
					<h2>{{localize "HELLAS.item.skill.modification.note"}}</h2>
					{{#if item.SKILLSPECIFICS.length}}
						{{#ifIn data.skill @root.item.HELLAS.skillSpecificsGetOneOnly}}
							<p>{{localize "HELLAS.item.skill.specifier.only.one_included"}}</p>
						{{else}}
							<p>{{localize "HELLAS.item.skill.specifier.all.included"}}</p>
						{{/ifIn}}
						{{setVar "notes" true}}
					{{/if}}
					{{#if (gt item.SHORTATTRIBUTELIST.length 1)}}
						{{#unless item.SKILLSPECIFICS.length}}
							<p>{{localize "HELLAS.item.skill.specifier.all.included"}}</p>
						{{/unless}}
						{{#if (eq data.skill "etiquette")}}
							<p>{{localize "HELLAS.item.skill.multi.attribute.etiquette"}}</p>
						{{else}}
							<p>{{localize "HELLAS.item.skill.multi.attribute.normal"}}</p>
						{{/if}}
						{{setVar "notes" true}}
					{{else}}
					{{/if}}
					{{#unless notes}}
						<p>{{localize "HELLAS.item.skill.modification.na"}}</p>
					{{/unless}}
				</div>
			{{/if}}
		</div>

		{{!-- Description Tab --}}
		<div class="tab description" data-group="primary-tabs" data-tab="description">
			{{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>
