<form class="{{cssClass}} item" autocomplete="off" autocapitalize="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" {{#if item.name}}title="{{item.name}}"{{/if}}/>
		<div class="grid grid-cols-2 gap-2 flex-none align-middle">
			<div class="text-right">
				<label for="{{item._id}}.data.skill" title="{{localize "HELLAS.skill.skill.title"}}">{{localize "HELLAS.skill.skill.label"}}</label>
			</div>
			<div>
				<select id="{{item._id}}.data.skill" name="data.skill" title="{{localize "HELLAS.skill.skill.title"}}" data-dtype="String">
					{{#select data.skill}}
						{{#each item.HELLAS.skills as |skill|}}
							<option value="{{skill}}">{{localize (concat "HELLAS.skills." skill ".name")}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>

			{{#if item.SKILLSPECIFICS.length}}
				<div class="text-right">
					<label for="{{item._id}}.data.specifier" title="{{localize "HELLAS.skill.specifier.title"}}">{{localize "HELLAS.skill.specifier.label"}}</label>
				</div>
				<div>
					<select id="{{item._id}}.data.specifier" name="data.specifier" title="{{localize "HELLAS.skill.specifier.title"}}" data-dtype="String" {{#unless not item.SKILLSPECIFICS.length}}disabled{{/unless}}>
						{{#select data.specifier}}
							{{#each item.SKILLSPECIFICS as |breakout|}}
								<option value="{{breakout}}">{{localize (concat "HELLAS.skills.specifics." breakout)}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
			{{/if}}

			{{#if (eq data.specifier item.SPECIFY_SUBTYPE)}}
				<div class="text-right">
					<label for="{{item._id}}.data.specifierCustom" title="{{localize "HELLAS.skill.specifier.custom.title"}}">{{localize "HELLAS.skill.specifier.custom.label"}}</label>
				</div>
				<div>
					<input type="text" id="{{item._id}}.data.specifierCustom" name="data.specifierCustom" value="{{data.specifierCustom}}" data-dtype="String" title="{{localize "HELLAS.skill.specifier.custom.title"}}"/>
				</div>
			{{/if}}

			{{#if item.ATTRIBUTESLIST.length}}
				<div class="text-right">
					<label for="{{item._id}}.data.attribute" title="{{localize "HELLAS.skill.attribute.title"}}">{{localize "HELLAS.skill.attribute.label"}}</label>
				</div>
				<div>
					<select id="{{item._id}}.data.attribute" name="data.attribute" title="{{localize "HELLAS.skill.attribute.title"}}" data-dtype="String">
						{{#select data.attribute}}
							{{#each item.ATTRIBUTESLIST as |attribute|}}
								<option value="{{attribute}}">{{localize (concat "HELLAS.attributes." attribute ".name")}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>

			{{/if}}
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary-tabs">
		<a class="item" data-tab="attributes">Attributes</a>
		<a class="item" data-tab="description">Description</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary-tabs" data-tab="attributes">
			<div class="grid grid-2col">
			</div>
		</div>

		{{!-- Description Tab --}}
		<div class="tab description" data-group="primary-tabs" data-tab="description">
			{{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>
