<header>
	<h3>{{localize "HELLAS.roll.chat.dynamism.title" skill=skill dynamism=name}}</h3>
</header>
<h3 style="text-align: center; font-size: 140%; font-weight: bold;">{{localize "HELLAS.roll.chat.outcome" outcome=(localize (concat "HELLAS.die.roll.outcome." outcome)) }}</h3>
<details>
	{{localize "HELLAS.roll.modifiers.dialog.skillrating.label"}}: {{data.baseLevel}}<br>
	{{localize "HELLAS.roll.modifiers.dialog.dod.label"}}: {{data.dod}}<br>
	{{localize "HELLAS.roll.modifiers.dialog.nonproficiency.label"}}: {{data.nonproficiency}}<br>
	{{localize "HELLAS.roll.modifiers.dialog.multipleactionscount.label"}}: {{data.multipleactionscount}}<br>
	{{localize "HELLAS.roll.modifiers.dialog.modifier.label"}}: {{data.modifier}}
</details>
