<header>
	<h3>{{localize (concat "HELLAS.roll.chat.initiative." initiative ".title")}}</h3>
</header>
<h3 style="text-align: center; font-size: 140%; font-weight: bold;">{{outcome}}</h3>
<details>
	{{localize "HELLAS.roll.chat.modifiers.initiative.speed.label"}}: {{data.speedAttr.value}}<br>
	{{localize "HELLAS.roll.chat.modifiers.modifier.label"}}: {{data.modifier}}
</details>
